.card {
  composes: card from global;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card ul li span:first-child {
  font-weight: 700;
  color: var(--headline-color);
}

.card form {
  display: flex;
  gap: 10px;
  align-items: center;
}
