:root {
  --body-background: #004643;
  --primary-color: rgba(232, 228, 230, 0.9);
  --secondary-color: #abd1c6;
  --headline-color: #fffffe;
  --interact-color: #f9bc60;
  --active-color: #fffffe;
  --button-text: #001e1d;
  --bang-color: #e16162;
  --card-background: #0e534e;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-color);
  background-color: var(--body-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--interact-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--active-color);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "League Gothic", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  color: var(--headline-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--interact-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--active-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  max-width: 720px;
}

nav {
  width: 100%;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
}

form label {
  font-weight: 700;
  color: var(--headline-color);
}

form input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--headline-color);
  transition: border-color 0.25s;
}

form input:focus,
form input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form input[type="number"] {
  width: calc(2ch + 80px);
}

#root {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  background-color: var(--card-background);
  color: var(--secondary-color);
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
